USE [almacen]
GO
/****** Object:  Table [dbo].[almacen]    Script Date: 12/02/2021 21:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[almacen](
	[nombre_almacen] [nvarchar](50) NOT NULL,
	[largo] [smallint] NOT NULL,
	[ancho] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nombre_almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[area_recogida]    Script Date: 12/02/2021 21:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[area_recogida](
	[id_area] [nvarchar](3) NOT NULL,
	[nombre_almacen_area] [nvarchar](50) NOT NULL,
	[tipo_tienda_area] [nvarchar](50) NOT NULL,
	[longitud] [int] NULL,
	[anchura] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[caja]    Script Date: 12/02/2021 21:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[caja](
	[id_caja] [int] NOT NULL,
	[id_caja_carro] [int] NULL,
	[categoria_caja] [nvarchar](50) NULL,
	[anchura] [int] NULL,
	[longitud] [int] NULL,
	[profundidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_caja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carro]    Script Date: 12/02/2021 21:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carro](
	[id_carro] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 12/02/2021 21:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[nombre_categoria] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nombre_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 12/02/2021 21:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[DNI] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](50) NOT NULL,
	[CP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[linea_pedido]    Script Date: 12/02/2021 21:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[linea_pedido](
	[EAN_linea_pedido] [int] NOT NULL,
	[id_pedido_linea_pedido] [int] NOT NULL,
	[cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EAN_linea_pedido] ASC,
	[id_pedido_linea_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[localizacion_producto]    Script Date: 12/02/2021 21:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[localizacion_producto](
	[id_segmento_loc] [nvarchar](10) NOT NULL,
	[EAN_loc] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EAN_loc] ASC,
	[id_segmento_loc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pasillo]    Script Date: 12/02/2021 21:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pasillo](
	[id_pasillo] [nvarchar](4) NOT NULL,
	[id_area_pasillo] [nvarchar](3) NOT NULL,
	[longitud] [int] NULL,
	[anchura] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pasillo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido]    Script Date: 12/02/2021 21:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido](
	[id_pedido] [int] NOT NULL,
	[dni_cliente] [nvarchar](20) NOT NULL,
	[fecha] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 12/02/2021 21:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[EAN] [int] NOT NULL,
	[categoria_producto] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[longitud] [int] NULL,
	[anchura] [int] NULL,
	[profundidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto_recogido]    Script Date: 12/02/2021 21:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto_recogido](
	[id_ean_producto] [int] NOT NULL,
	[id_caja_producto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ean_producto] ASC,
	[id_caja_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[segmento]    Script Date: 12/02/2021 21:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[segmento](
	[id_segmento] [nvarchar](10) NOT NULL,
	[id_pasillo_segmento] [nvarchar](4) NOT NULL,
	[categoria_segmento] [nvarchar](50) NULL,
	[posicion_segmento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_segmento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_tienda]    Script Date: 12/02/2021 21:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_tienda](
	[nombre_tipo_tienda] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nombre_tipo_tienda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[almacen] ([nombre_almacen], [largo], [ancho]) VALUES (N'Albacete', 45, 24)
INSERT [dbo].[almacen] ([nombre_almacen], [largo], [ancho]) VALUES (N'Cuenca', 36, 24)
GO
INSERT [dbo].[area_recogida] ([id_area], [nombre_almacen_area], [tipo_tienda_area], [longitud], [anchura]) VALUES (N'ATA', N'Albacete', N'TIENDA_ABIERTA', 28, 24)
INSERT [dbo].[area_recogida] ([id_area], [nombre_almacen_area], [tipo_tienda_area], [longitud], [anchura]) VALUES (N'ATC', N'Albacete', N'TIENDA_CERRADA', 17, 24)
INSERT [dbo].[area_recogida] ([id_area], [nombre_almacen_area], [tipo_tienda_area], [longitud], [anchura]) VALUES (N'CTA', N'Cuenca', N'TIENDA_ABIERTA', 22, 24)
GO
INSERT [dbo].[caja] ([id_caja], [id_caja_carro], [categoria_caja], [anchura], [longitud], [profundidad]) VALUES (1, NULL, N'AMBIENTE', 40, 60, 40)
INSERT [dbo].[caja] ([id_caja], [id_caja_carro], [categoria_caja], [anchura], [longitud], [profundidad]) VALUES (2, NULL, N'AMBIENTE', 40, 60, 40)
INSERT [dbo].[caja] ([id_caja], [id_caja_carro], [categoria_caja], [anchura], [longitud], [profundidad]) VALUES (3, NULL, N'AMBIENTE', 40, 60, 40)
GO
INSERT [dbo].[carro] ([id_carro]) VALUES (1)
INSERT [dbo].[carro] ([id_carro]) VALUES (2)
INSERT [dbo].[carro] ([id_carro]) VALUES (3)
GO
INSERT [dbo].[categoria] ([nombre_categoria]) VALUES (N'AMBIENTE')
INSERT [dbo].[categoria] ([nombre_categoria]) VALUES (N'CONGELADO')
INSERT [dbo].[categoria] ([nombre_categoria]) VALUES (N'REFRIGERADO')
GO
INSERT [dbo].[cliente] ([DNI], [Nombre], [Direccion], [CP]) VALUES (N'04614951R', N'Eduardo Pastor', N'Avenida Falsa 123', 16004)
INSERT [dbo].[cliente] ([DNI], [Nombre], [Direccion], [CP]) VALUES (N'11111111A', N'Prueba Prueba1', N'Avendida Falsa 234', 20001)
INSERT [dbo].[cliente] ([DNI], [Nombre], [Direccion], [CP]) VALUES (N'22222222B', N'Prueba Prueba 2', N'Avenida Falsa 345', 16004)
GO
INSERT [dbo].[linea_pedido] ([EAN_linea_pedido], [id_pedido_linea_pedido], [cantidad]) VALUES (1, 4, 2)
INSERT [dbo].[linea_pedido] ([EAN_linea_pedido], [id_pedido_linea_pedido], [cantidad]) VALUES (2, 4, 6)
INSERT [dbo].[linea_pedido] ([EAN_linea_pedido], [id_pedido_linea_pedido], [cantidad]) VALUES (2, 5, 6)
GO
INSERT [dbo].[localizacion_producto] ([id_segmento_loc], [EAN_loc]) VALUES (N'1', 1)
INSERT [dbo].[localizacion_producto] ([id_segmento_loc], [EAN_loc]) VALUES (N'10', 2)
INSERT [dbo].[localizacion_producto] ([id_segmento_loc], [EAN_loc]) VALUES (N'11', 2)
GO
INSERT [dbo].[pasillo] ([id_pasillo], [id_area_pasillo], [longitud], [anchura]) VALUES (N'1', N'ATA', 8, 3)
INSERT [dbo].[pasillo] ([id_pasillo], [id_area_pasillo], [longitud], [anchura]) VALUES (N'10', N'ATA', 8, 3)
INSERT [dbo].[pasillo] ([id_pasillo], [id_area_pasillo], [longitud], [anchura]) VALUES (N'11', N'ATA', 8, 3)
GO
INSERT [dbo].[pedido] ([id_pedido], [dni_cliente], [fecha]) VALUES (1, N'04614951R', CAST(N'2021-01-01' AS Date))
INSERT [dbo].[pedido] ([id_pedido], [dni_cliente], [fecha]) VALUES (2, N'04614951R', CAST(N'2021-01-02' AS Date))
INSERT [dbo].[pedido] ([id_pedido], [dni_cliente], [fecha]) VALUES (3, N'04614951R', CAST(N'2021-12-31' AS Date))
GO
INSERT [dbo].[producto] ([EAN], [categoria_producto], [nombre], [longitud], [anchura], [profundidad]) VALUES (1, N'AMBIENTE', N'Bolsas de patatas 300g', 35, 23, 9)
INSERT [dbo].[producto] ([EAN], [categoria_producto], [nombre], [longitud], [anchura], [profundidad]) VALUES (2, N'AMBIENTE', N'Cartón de leche 1l', 17, 10, 7)
INSERT [dbo].[producto] ([EAN], [categoria_producto], [nombre], [longitud], [anchura], [profundidad]) VALUES (3, N'AMBIENTE', N'Paquete de galletas 800gr', 22, 13, 13)
GO
INSERT [dbo].[segmento] ([id_segmento], [id_pasillo_segmento], [categoria_segmento], [posicion_segmento]) VALUES (N'1', N'4', N'AMBIENTE', 1)
INSERT [dbo].[segmento] ([id_segmento], [id_pasillo_segmento], [categoria_segmento], [posicion_segmento]) VALUES (N'10', N'C1', N'AMBIENTE', 12)
INSERT [dbo].[segmento] ([id_segmento], [id_pasillo_segmento], [categoria_segmento], [posicion_segmento]) VALUES (N'11', N'15', N'AMBIENTE', 11)
GO
INSERT [dbo].[tipo_tienda] ([nombre_tipo_tienda]) VALUES (N'TIENDA_ABIERTA')
INSERT [dbo].[tipo_tienda] ([nombre_tipo_tienda]) VALUES (N'TIENDA_CERRADA')
GO
ALTER TABLE [dbo].[linea_pedido] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[segmento] ADD  DEFAULT ((1)) FOR [posicion_segmento]
GO
ALTER TABLE [dbo].[area_recogida]  WITH CHECK ADD  CONSTRAINT [FK_area_recogida_almacen] FOREIGN KEY([nombre_almacen_area])
REFERENCES [dbo].[almacen] ([nombre_almacen])
GO
ALTER TABLE [dbo].[area_recogida] CHECK CONSTRAINT [FK_area_recogida_almacen]
GO
ALTER TABLE [dbo].[area_recogida]  WITH CHECK ADD  CONSTRAINT [FK_area_recogida_tipo_tienda] FOREIGN KEY([tipo_tienda_area])
REFERENCES [dbo].[tipo_tienda] ([nombre_tipo_tienda])
GO
ALTER TABLE [dbo].[area_recogida] CHECK CONSTRAINT [FK_area_recogida_tipo_tienda]
GO
ALTER TABLE [dbo].[caja]  WITH CHECK ADD  CONSTRAINT [FK_caja_carro] FOREIGN KEY([id_caja_carro])
REFERENCES [dbo].[carro] ([id_carro])
GO
ALTER TABLE [dbo].[caja] CHECK CONSTRAINT [FK_caja_carro]
GO
ALTER TABLE [dbo].[caja]  WITH CHECK ADD  CONSTRAINT [FK_caja_categoria] FOREIGN KEY([categoria_caja])
REFERENCES [dbo].[categoria] ([nombre_categoria])
GO
ALTER TABLE [dbo].[caja] CHECK CONSTRAINT [FK_caja_categoria]
GO
ALTER TABLE [dbo].[linea_pedido]  WITH CHECK ADD  CONSTRAINT [FK_linea_pedido_pedido] FOREIGN KEY([id_pedido_linea_pedido])
REFERENCES [dbo].[pedido] ([id_pedido])
GO
ALTER TABLE [dbo].[linea_pedido] CHECK CONSTRAINT [FK_linea_pedido_pedido]
GO
ALTER TABLE [dbo].[linea_pedido]  WITH CHECK ADD  CONSTRAINT [FK_linea_pedido_producto] FOREIGN KEY([EAN_linea_pedido])
REFERENCES [dbo].[producto] ([EAN])
GO
ALTER TABLE [dbo].[linea_pedido] CHECK CONSTRAINT [FK_linea_pedido_producto]
GO
ALTER TABLE [dbo].[localizacion_producto]  WITH CHECK ADD  CONSTRAINT [FK_localizacion_producto_producto] FOREIGN KEY([EAN_loc])
REFERENCES [dbo].[producto] ([EAN])
GO
ALTER TABLE [dbo].[localizacion_producto] CHECK CONSTRAINT [FK_localizacion_producto_producto]
GO
ALTER TABLE [dbo].[localizacion_producto]  WITH CHECK ADD  CONSTRAINT [FK_localizacion_producto_segmento] FOREIGN KEY([id_segmento_loc])
REFERENCES [dbo].[segmento] ([id_segmento])
GO
ALTER TABLE [dbo].[localizacion_producto] CHECK CONSTRAINT [FK_localizacion_producto_segmento]
GO
ALTER TABLE [dbo].[pasillo]  WITH CHECK ADD  CONSTRAINT [FK_pasillo_area_recogida] FOREIGN KEY([id_area_pasillo])
REFERENCES [dbo].[area_recogida] ([id_area])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pasillo] CHECK CONSTRAINT [FK_pasillo_area_recogida]
GO
ALTER TABLE [dbo].[pedido]  WITH CHECK ADD  CONSTRAINT [FK_pedido_cliente] FOREIGN KEY([dni_cliente])
REFERENCES [dbo].[cliente] ([DNI])
GO
ALTER TABLE [dbo].[pedido] CHECK CONSTRAINT [FK_pedido_cliente]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_producto_categoria] FOREIGN KEY([categoria_producto])
REFERENCES [dbo].[categoria] ([nombre_categoria])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_producto_categoria]
GO
ALTER TABLE [dbo].[producto_recogido]  WITH CHECK ADD  CONSTRAINT [FK_producto_recogido_caja] FOREIGN KEY([id_caja_producto])
REFERENCES [dbo].[caja] ([id_caja])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[producto_recogido] CHECK CONSTRAINT [FK_producto_recogido_caja]
GO
ALTER TABLE [dbo].[producto_recogido]  WITH CHECK ADD  CONSTRAINT [FK_producto_recogido_producto] FOREIGN KEY([id_ean_producto])
REFERENCES [dbo].[producto] ([EAN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[producto_recogido] CHECK CONSTRAINT [FK_producto_recogido_producto]
GO
ALTER TABLE [dbo].[segmento]  WITH CHECK ADD  CONSTRAINT [FK_segmento_categoria] FOREIGN KEY([categoria_segmento])
REFERENCES [dbo].[categoria] ([nombre_categoria])
GO
ALTER TABLE [dbo].[segmento] CHECK CONSTRAINT [FK_segmento_categoria]
GO
ALTER TABLE [dbo].[segmento]  WITH CHECK ADD  CONSTRAINT [FK_segmento_pasillo] FOREIGN KEY([id_pasillo_segmento])
REFERENCES [dbo].[pasillo] ([id_pasillo])
GO
ALTER TABLE [dbo].[segmento] CHECK CONSTRAINT [FK_segmento_pasillo]
GO
